<div class="character-card">
    <div class="character-card-1st">
        <div class="character-card-infobox">
            <img class="character-card-species-icon" src="{{ asset(character|speciesIcon) }}" alt="">
            <div class="character-card-infos">
                <div><span class="character-card-infos-name character-card-infos-name-name">Nom : </span>{{ character.name }}</div>
                <div><span class="character-card-infos-name">Age : </span>{{ character.age }}</div>
                <div><span class="character-card-infos-name">Niveau : </span>{{ character.level }}</div>
                <div><span class="character-card-infos-name character-card-infos-name-species">Espèce : </span>{{ character.Species.name }}</div>
            </div>
        </div>
        {% if character.gender == 'Mâle' %}
            <img class="genderIcon" src="{{ asset('icons/male.png') }}"  width='25px' height="25px" style="margin-right: 5px">
        {% else %}
            <img class="genderIcon" src="{{ asset('icons/female.png') }}" width='32px' height="30px">
        {% endif %}
    </div>
    <div class="character-card-separator"></div>
    <div class="character-card-2nd">
        <table class="character-card-statTable">
            <tbody>
                <tr>
                    <td><img class="character-card-stat-icon" src="{{ asset('icons/stats/vitality.png') }}"><span class="character-card-stat-name">Vitalité : </span>{{ character.Stats.vitality }}</td>
                    <td><img class="character-card-stat-icon" src="{{ asset('icons/stats/strength.png') }}"><span class="character-card-stat-name">Force : </span>{{ character.Stats.strength }}</td>
                    <td><img class="character-card-stat-icon" src="{{ asset('icons/stats/power.png') }}"><span class="character-card-stat-name">Pouvoir : </span>{{ character.Stats.power }}</td>
                </tr>
                <tr>
                    <td><img class="character-card-stat-icon" src="{{ asset('icons/stats/speed.png') }}"><span class="character-card-stat-name">Vitesse : </span>{{ character.Stats.speed }}</td>
                    <td><img class="character-card-stat-icon" src="{{ asset('icons/stats/stamina.png') }}"><span class="character-card-stat-name">Endurance : </span>{{ character.Stats.stamina }}</td>
                    <td><img class="character-card-stat-icon" src="{{ asset('icons/stats/bravery.png') }}"><span class="character-card-stat-name">Courage : </span>{{ character.Stats.bravery }}</td>
                    
                </tr>
                <tr>
                    <td><img class="character-card-stat-icon" src="{{ asset('icons/stats/agility.svg') }}"><span class="character-card-stat-name">Agility : </span>{{ character.Stats.agility }}</td>
                    <td><img class="character-card-stat-icon" src="{{ asset('icons/stats/presence.png') }}"><span class="character-card-stat-name">Présence : </span>{{ character.Stats.presence }}</td>
                    <td><img class="character-card-stat-icon" src="{{ asset('icons/stats/actionPoint.png') }}"><span class="character-card-stat-name">Points d'Action : </span>{{ character.Stats.actionPoint }}</td>
                    <td></td>
                </tr>
                <tr>
                    <td><img class="character-card-stat-icon" src="{{ asset('icons/stats/coordination.png') }}"><span class="character-card-stat-name">Coordination : </span>{{ character.Stats.coordination }}</td>
                    <td><img class="character-card-stat-icon" src="{{ asset('icons/stats/impassiveness.png') }}"><span class="character-card-stat-name">Impassibilité : </span>{{ character.Stats.impassiveness }}</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>