<div id="navbar" class="">
    <img id='valtoriaIcon' onClick='onIconClick()' src="{{ asset('icons/valtoria-text.png') }}" alt="icone de Valtoria">
    <div id='title'>
        <div>Pokémon Donjon Mystère</div>
        <div>Valtoria</div>
    </div>
    {% if not app.user %}
        <form action="{{ path('app_discord_connect') }}" method='post'>
            <input type="hidden" name='token' value="{{ csrf_token('discord-auth') }}">
            <button id='loginButton'>Connexion</button>
        </form>
    {% elseif app.user and app.user.character is not null %}
        <div id="characterInfo" onClick='onCharacterInfoClick()'>
            <div>{{ app.user.character.name }}</div>
            <img src="{{ asset(app.user.character|speciesIcon) }}" alt="Image de {{ app.user.character.name }}">
        </div>

        <div id='navbar-desktop-menu'>
            <div id='navbar-desktop-menu-character-name' onClick='onCharacterInfoClick()'>{{ app.user.character.name }}</div>
            <div id='navbar-desktop-menu-links'>
                <a class="navbar-desktop-menu-link" href="{{ path('app_hub') }}">Guilde</a>
                <div class="navbar-desktop-menu-separator"></div>
                <a class="navbar-desktop-menu-link" href="{{ path('app_character') }}">Profil</a>
                <div class="navbar-desktop-menu-separator"></div>
                <div id='navbar-desktop-menu-logoutButton' onClick='onClickLogout()'>Déconnexion</div>
            </div>
        </div>
    {% elseif app.user and app.user.character is null %}
        <a id='createCharacterLink' href="{{ path('app_character_create') }}"><button id='createCharacterButton'>Créer son personnage</button></a>
    {% endif %}

    <div id='navbar-phone-menu'>
        <div class="navbar-phone-menu-links">
            <a href="{{ path('app_home') }}" class="navbar-phone-menu-link">Accueil</a>
            <div class="navbar-phone-menu-separator"></div>
            {% if app.user and app.user.character is not null %}
                <a href="{{ path('app_character') }}" class="navbar-phone-menu-link">Profil</a>
                <div class="navbar-phone-menu-separator"></div>
                <a href="{{ path('app_hub') }}" class="navbar-phone-menu-link">Guilde</a>
                <div class="navbar-phone-menu-separator"></div>
            {% elseif app.user and app.user.character is null %}
                <a href="{{ path('app_character_create') }}" class="navbar-phone-menu-link">Créer votre Personnage</a>
                <div class="navbar-phone-menu-separator"></div>
            {% endif %}
        </div>
        {% if not app.user %}
            <form action="{{ path('app_discord_connect') }}" method='post'>
                <input type="hidden" name='token' value="{{ csrf_token('discord-auth') }}">
                <button id='navbar-phone-menu-loginButton'>Connexion</button>
            </form>
        {% else %}
            <div id='navbar-phone-menu-logoutButton' onClick='onClickLogout()'>Déconnexion</div>
        {% endif %}
    </div>
</div>

<script>
    const navbar = document.getElementById('navbar');
    const phone_menu = document.getElementById('navbar-phone-menu');
    const desktop_menu = document.getElementById('navbar-desktop-menu');

    function onIconClick(){
        if (window.innerWidth <= 480){
            if(!navbar.classList.contains('navbar-phone-menu-opened')){
                navbar.classList.toggle('navbar-phone-menu-opened');
                setTimeout(function(){
                    phone_menu.classList.toggle('phone-menu-opened');
                }, 1000);
            }
            else {
                navbar.classList.toggle('navbar-phone-menu-opened');
                phone_menu.classList.toggle('phone-menu-opened');
            }
        }
        else {
            window.location.href = "{{ path('app_home') }}";
        }
    }

    function onCharacterInfoClick(){
        if (window.innerWidth > 480){
            desktop_menu.classList.toggle('navbar-desktop-menu-opened');
        }
    }

    function onClickLogout(){
        window.location.replace("{{ path('app_logout') }}");
    }
</script>