<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
        <title>{% block title %}PMD : Valtoria{% endblock %}</title>
        <link rel="icon" href="{{ asset('icons/valtoria.png') }}">

        <link rel="stylesheet" href="{{ asset('base.css') }}">
        {% block stylesheets %}{% endblock %}
        {% trans_default_domain 'app' %}
    </head>
    <body>
        {% include '_shared/_navbar.html.twig' %}

        <div class="flashMessagesContainer">

        </div>

        {% if app.user %}
            {% if app.user.character == null %}
                <a class="playButton" href="{{ path('app_character_create') }}">{{ 'jouer'|trans({}, 'app') }}</a>
            {% else %}
                <a class="playButton" href="{{ path('app_hub') }}">{{ 'guilde'|trans({}, 'app') }}</a>
            {% endif %}
        {% endif %}
        <div id='content'>
            {% block body %}{% endblock %}
        </div>
        {% include "_shared/_flash-message.html.twig" %}
        {% block javascripts %}{% endblock %}
        <footer>
            <p>{{ 'footer_description'|trans({}, 'app') }}</p>
        </footer>
    </body>
</html>
