{% extends "base.html.twig" %}

{% block title %}PMD : Valtoria{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/app_home.css') }}">
{% endblock %}
{% block body %}
    <div class="homePresentation">
        <div class="homePresentationBoard">
            <div class="gameResume">
                <div class="mysteryDungeonIcon"><img src="{{ asset('images/mystery-dungeon-icon.png') }}" alt="Icone de donjon mystère"></div>
                <div>{{ 'valtoria_game_resume'|trans({}, 'app') }}</div>
            </div>
            <div class="separator"></div>
            <div class="gameRpResume">
                <div class="gameRpResumeText1">
                    {{ 'valtoria_game_rp_resume_1'|trans({}, 'app') }}
                </div>
                <div class="gameRpResumeText2">
                    {{ 'valtoria_game_rp_resume_2'|trans({}, 'app') }}
                </div>
            </div>
        </div>
        <div class="homePresentationRightPannel">
            <div class="explorersImage"><img src="{{ asset('images/explorers-group.png') }}" alt="Équipe d'explorateurs Pokémon"></div>
        </div>
    </div>

    <div class="separator"></div>

    <div class="homeTeam">
        <div class="homeTeamTopPannel">
            <div class="homeTeamTopPannelImage"><img src="{{ asset('images/three-explorers.png') }}" alt="Trois aventuriers"></div>
            <div class="homeTeamTopPannelText">{{ 'faites_equipe_avec_vos_amis'|trans({}, 'app') }}</div>
        </div>
        <div class="homeTeamBottomPannel">
            <div class="homeTeamBottomPannelCard">
                <div class="homeTeamBottomPannelCardTopPannel">
                    <div class="homeTeamBottomPannelCardTopPannelImage"><img src="{{ asset('images/fighting-riolu.png') }}" alt="Riolu combattant"></div>
                    <div class="homeTeamBottomPannelCardTopPannelTitle">{{ 'infligez_des_degats'|trans({}, 'app') }}</div>
                </div>
                <div class="homeTeamBottomPannelCardBottomPannel">{{ 'infligez_des_degats_description'|trans({}, 'app') }}</div>
            </div>
            <div class="homeTeamBottomPannelDivider"></div>
            <div class="homeTeamBottomPannelCard">
                <div class="homeTeamBottomPannelCardTopPannel">
                    <div class="homeTeamBottomPannelCardTopPannelImage"><img src="{{ asset('images/carapuce-protecteur.png') }}" alt="Riolu combattant"></div>
                    <div class="homeTeamBottomPannelCardTopPannelTitle">{{ 'protegez_vos_allies'|trans({}, 'app') }}</div>
                </div>
                <div class="homeTeamBottomPannelCardBottomPannel">{{ 'protegez_vos_allies_description'|trans({}, 'app') }}</div>
            </div>
            <div class="homeTeamBottomPannelDivider"></div>
            <div class="homeTeamBottomPannelCard">
                <div class="homeTeamBottomPannelCardTopPannel">
                    <div class="homeTeamBottomPannelCardTopPannelImage"><img src="{{ asset('images/fennekin.png') }}" alt="Riolu combattant"></div>
                    <div class="homeTeamBottomPannelCardTopPannelTitle">{{ 'soutenez_votre_equipe'|trans({}, 'app') }}</div>
                </div>
                <div class="homeTeamBottomPannelCardBottomPannel">{{ 'soutenez_votre_equipe_description'|trans({}, 'app') }}</div>
            </div>
        </div>
    </div>

    <div class="separator"></div>

    <div class="homeExploration">
        <div class="homeExplorationLeftPannel">
            <img class="homeExplorationLeftPannelImage" src="{{ asset('images/colored-paysage.png') }}" alt="Paysage de Valtoria">
            <img class="homeExplorationLeftPannelTexture" src="{{ asset('texture/parchement-hole.png') }}">
        </div>
        <div class="homeExplorationRightPannel">
            <div class="homeExplorationRightPannelTitle">{{ 'explorez_les_contrees_de_valtoria'|trans({}, 'app') }}</div>
            <div class="homeExplorationRightPannelContent">
                <p>{{ 'explorez_les_contrees_de_valtoria_description_1'|trans({}, 'app') }}</p>
                <p>{{ 'explorez_les_contrees_de_valtoria_description_2'|trans({}, 'app') }}</p>
                <p>{{ 'explorez_les_contrees_de_valtoria_description_3'|trans({}, 'app') }}</p>
                <p>{{ 'explorez_les_contrees_de_valtoria_description_4'|trans({}, 'app') }}</p>
            </div>
            <div class="homeExplorationRightPannelImage">
                <img src="{{ asset('images/bulbizarre-aventurier.png') }}" alt="Bulbizarre aventurier">
                <img src="{{ asset('images/goupix-chapeau.png') }}" alt="Goupix avec son chapeau">
            </div>
        </div>
    </div>

    <div class="separator"></div>

    <div class="homeJoinExplorers">
        <div class="homeJoinExplorersTopPannel">
            <div class="homeJoinExplorersTopPannelTitle">{{ 'rejoignez_la_guilde_de_fort_ecorce'|trans({}, 'app') }}</div>
            <div class="homeJoinExplorersTopPannelContent">{{ 'rejoignez_la_guilde_de_fort_ecorce_description'|trans({}, 'app') }}</div>
        </div>
    </div>
    <div class="homeJoinExplorersBottomPannel">
        <img class="homeJoinExplorersBottomPannelImage" src="{{ asset('images/fort-ecorce.png') }}" alt="Fort-Écorce">
    </div>
{% endblock %}

{% block javascripts %}

{% endblock %}