<details id="characterAttacksSelect" class="characterAttacksSelect">
    <summary id="characterAttacksSelectSummary">Selectionnez un type...</summary>
    <ul>
        <li onClick="onClickChangeSummary('Acier')">
            <img src='{{ asset('icons/pokemon-types/acier.png') }}'/>
            <span>Acier</span>
        </li>
        <li onClick="onClickChangeSummary('Aventurier')">
            <img src='{{ asset('icons/pokemon-types/aventurier.png') }}'/>
            <span>Aventurier</span>
        </li>
        <li onClick="onClickChangeSummary('Combat')">
            <img src='{{ asset('icons/pokemon-types/combat.png') }}'/>
            <span>Combat</span>
        </li>
        <li onClick="onClickChangeSummary('Dragon')">
            <img src='{{ asset('icons/pokemon-types/Dragon.png') }}'/>
            <span>Dragon</span>
        </li>
        <li onClick="onClickChangeSummary('Eau')">
            <img src='{{ asset('icons/pokemon-types/eau.png') }}'/>
            <span>Eau</span>
        </li>
        <li onClick="onClickChangeSummary('Electrik')">
            <img src='{{ asset('icons/pokemon-types/electrik.png') }}'/>
            <span>Électrik</span>
        </li>
        <li onClick="onClickChangeSummary('Fée')">
            <img src='{{ asset('icons/pokemon-types/fee.png') }}'/>
            <span>Fée</span>
        </li>
        <li onClick="onClickChangeSummary('Feu')">
            <img src='{{ asset('icons/pokemon-types/feu.png') }}'/>
            <span>Feu</span>
        </li>
        <li onClick="onClickChangeSummary('Glace')">
            <img src='{{ asset('icons/pokemon-types/glace.png') }}'/>
            <span>Glace</span>
        </li>
        <li onClick="onClickChangeSummary('Insecte')">
            <img src='{{ asset('icons/pokemon-types/insecte.png') }}'/>
            <span>Insecte</span>
        </li>
        <li onClick="onClickChangeSummary('Normal')">
            <img src='{{ asset('icons/pokemon-types/normal.png') }}'/>
            <span>Normal</span>
        </li>
        <li onClick="onClickChangeSummary('Plante')">
            <img src='{{ asset('icons/pokemon-types/plante.png') }}'/>
            <span>Plante</span>
        </li>
        <li onClick="onClickChangeSummary('Poison')">
            <img src='{{ asset('icons/pokemon-types/poison.png') }}'/>
            <span>Poison</span>
        </li>
        <li onClick="onClickChangeSummary('Psy')">
            <img src='{{ asset('icons/pokemon-types/psy.png') }}'/>
            <span>Psy</span>
        </li>
        <li onClick="onClickChangeSummary('Roche')">
            <img src='{{ asset('icons/pokemon-types/roche.png') }}'/>
            <span>Roche</span>
        </li>
        <li onClick="onClickChangeSummary('Sol')">
            <img src='{{ asset('icons/pokemon-types/sol.png') }}'/>
            <span>Sol</span>
        </li>
        <li onClick="onClickChangeSummary('Spectre')">
            <img src='{{ asset('icons/pokemon-types/spectre.png') }}'/>
            <span>Spectre</span>
        </li>
        <li onClick="onClickChangeSummary('Ténèbres')">
            <img src='{{ asset('icons/pokemon-types/tenebres.png') }}'/>
            <span>Ténèbres</span>
        </li>
        <li onClick="onClickChangeSummary('Vol')">
            <img src='{{ asset('icons/pokemon-types/vol.png') }}'/>
            <span>Vol</span>
        </li>
    </ul>
</details>