<details id="characterAttacksSelect" class="characterAttacksSelect">
    <summary id="characterAttacksSelectSummary">{{ 'selectionnez_un_type'|trans({}, 'app') }}</summary>
    <ul>
        <li onClick="onClickChangeSummary('Acier')">
            <img src='{{ asset('icons/pokemon-types/acier.png') }}'/>
            <span>{{ 'acier_type'|trans({}, 'app') }}</span>
        </li>
        <li onClick="onClickChangeSummary('Aventurier')">
            <img src='{{ asset('icons/pokemon-types/aventurier.png') }}'/>
            <span>{{ 'aventurier_type'|trans({}, 'app') }}</span>
        </li>
        <li onClick="onClickChangeSummary('Combat')">
            <img src='{{ asset('icons/pokemon-types/combat.png') }}'/>
            <span>{{ 'combat_type'|trans({}, 'app') }}</span>
        </li>
        <li onClick="onClickChangeSummary('Dragon')">
            <img src='{{ asset('icons/pokemon-types/dragon.png') }}'/>
            <span>{{ 'dragon_type'|trans({}, 'app') }}</span>
        </li>
        <li onClick="onClickChangeSummary('Eau')">
            <img src='{{ asset('icons/pokemon-types/eau.png') }}'/>
            <span>{{ 'eau_type'|trans({}, 'app') }}</span>
        </li>
        <li onClick="onClickChangeSummary('Electrik')">
            <img src='{{ asset('icons/pokemon-types/electrik.png') }}'/>
            <span>{{ 'electrik_type'|trans({}, 'app') }}</span>
        </li>
        <li onClick="onClickChangeSummary('Fée')">
            <img src='{{ asset('icons/pokemon-types/fee.png') }}'/>
            <span>{{ 'fee_type'|trans({}, 'app') }}</span>
        </li>
        <li onClick="onClickChangeSummary('Feu')">
            <img src='{{ asset('icons/pokemon-types/feu.png') }}'/>
            <span>{{ 'feu_type'|trans({}, 'app') }}</span>
        </li>
        <li onClick="onClickChangeSummary('Glace')">
            <img src='{{ asset('icons/pokemon-types/glace.png') }}'/>
            <span>{{ 'glace_type'|trans({}, 'app') }}</span>
        </li>
        <li onClick="onClickChangeSummary('Insecte')">
            <img src='{{ asset('icons/pokemon-types/insecte.png') }}'/>
            <span>{{ 'insecte_type'|trans({}, 'app') }}</span>
        </li>
        <li onClick="onClickChangeSummary('Normal')">
            <img src='{{ asset('icons/pokemon-types/normal.png') }}'/>
            <span>{{ 'normal_type'|trans({}, 'app') }}</span>
        </li>
        <li onClick="onClickChangeSummary('Plante')">
            <img src='{{ asset('icons/pokemon-types/plante.png') }}'/>
            <span>{{ 'plante_type'|trans({}, 'app') }}</span>
        </li>
        <li onClick="onClickChangeSummary('Poison')">
            <img src='{{ asset('icons/pokemon-types/poison.png') }}'/>
            <span>{{ 'poison_type'|trans({}, 'app') }}</span>
        </li>
        <li onClick="onClickChangeSummary('Psy')">
            <img src='{{ asset('icons/pokemon-types/psy.png') }}'/>
            <span>{{ 'psy_type'|trans({}, 'app') }}</span>
        </li>
        <li onClick="onClickChangeSummary('Roche')">
            <img src='{{ asset('icons/pokemon-types/roche.png') }}'/>
            <span>{{ 'roche_type'|trans({}, 'app') }}</span>
        </li>
        <li onClick="onClickChangeSummary('Sol')">
            <img src='{{ asset('icons/pokemon-types/sol.png') }}'/>
            <span>{{ 'sol_type'|trans({}, 'app') }}</span>
        </li>
        <li onClick="onClickChangeSummary('Spectre')">
            <img src='{{ asset('icons/pokemon-types/spectre.png') }}'/>
            <span>{{ 'spectre_type'|trans({}, 'app') }}</span>
        </li>
        <li onClick="onClickChangeSummary('Ténèbres')">
            <img src='{{ asset('icons/pokemon-types/tenebres.png') }}'/>
            <span>{{ 'tenebres_type'|trans({}, 'app') }}</span>
        </li>
        <li onClick="onClickChangeSummary('Vol')">
            <img src='{{ asset('icons/pokemon-types/vol.png') }}'/>
            <span>{{ 'vol_type'|trans({}, 'app') }}</span>
        </li>
    </ul>
</details>