<tr class="characterAttackLine characterAttackLineHidden" data-id='attack-type-{{ attack.attackTree.getName() }}' >
    <td class="characterAttacksTD TD-Attack">
        <div class="attackName">
            <img title="{{ attack.type.getName() }}" src='{{ asset(attack.type | typeIcon) }}'/>
            <span>{{ attack.name|transAttack }}</span> 
        </div>
        <div class="firstLine">
            <div class="statContainer" title="{{ 'action_point_title'|trans({}, 'app') }}">{{ attack.actionPointCost }} <img class="modifyRotationPAIcon" src="{{ asset('icons/stats/actionPoint.png') }}"></div>
            <div class="statContainer" title="{{ 'attack_power_title'|trans({}, 'app') }}">{{ 'puissance'|trans({}, 'app') }} : {{ attack.power }}</div>
            <div class="statContainer" title="{{ 'attack_status_power_title'|trans({}, 'app') }}">{{ 'p.statut'|trans({}, 'app') }} : {{ attack.statusPower }}</div>
            <div class="statContainer" title="{{ 'attack_critical_power_title'|trans({}, 'app') }}">{{ 'p.critique'|trans({}, 'app') }} : {{ attack.criticalPower }}</div>
        </div>
        <div class="secondLine">
            <span id="attackDescription">{{ attack.name|transAttackDesc }}</span>
        </div>
    </td>
</tr>