{% extends 'base.html.twig' %}

{% block title %}PMD : Valtoria | Profil{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/Character/app_character.css') }}">
{% endblock %}

{% block body %}
    <div class="characterShowTitle">{% if isSelfCharacter %}{{ 'profil'|trans({}, 'app') }}{% else %}{{ 'profil_de'|trans({}, 'app') }} {{ character.getName() }} {% endif %}</div>

    <div class="profileCharacterCard">
        <div class="xpBar" title="EXP : {{ character.getXP() }} / {{ character.getXPCeil() }} ({{ character.getXPPercentage() }}%)"><div class="xpBarFill" style='width: {{ character.getXPPercentage() }}%;'></div></div>

        <div class="profileCharacterCardUpper">
            <div class="cardUpperLeft">
                <div class="speciesIcon"><img src="{{ asset(character|speciesIcon) }}"></div>
            </div>
            <div class="cardUpperRight">
                <div class="cardUpperRightNameLevelGender">
                    <div class="cardUpperRightName">{{ 'nom'|trans({}, 'app') }} : {{ character.name }}</div>
                    | <div class="cardUpperRightLevel">{{ 'niveau'|trans({}, 'app') }} : {{ character.level }} ({{ 'exp'|trans({}, 'app') }} : {{ character.xp }} / {{ character.getXPCeil() }})</div>
                    {% if character.gender == 'Mâle' %}
                        <img class="genderIcon" src="{{ asset('icons/male.png') }}"  width='25px' height="25px" style="margin-right: 5px">
                    {% else %}
                        <img class="genderIcon" src="{{ asset('icons/female.png') }}" width='32px' height="30px">
                    {% endif %}
                </div>
                <div class="cardUpperRightSpeciesAgeRank">
                    <div class="cardUpperRightSpecies">{{ 'espece'|trans({}, 'app') }} : {{ character.Species|transSpecies }}</div>
                    | <div class="cardUpperRightAge">{{ 'age'|trans({}, 'app') }} : {{ character.age }}</div>
                    | <div class="cardUpperRightRank">{{ 'rang'|trans({}, 'app') }} : {{ 'cuivre'|trans({}, 'app') }}</div>
                </div>
                <div class="cardUpperRightSeparator"></div>
                <div class="cardUpperRightDescription">
                    {{ form_start(modifyDescriptionFormView, {'attr': {'class': 'modifyDescriptionForm'}}) }}
                        {{ form_widget(modifyDescriptionFormView.description, {'attr': {'disabled':true, 'data-id': 'modifyDescriptionTextArea'}}) }}
                    
                    {% if isSelfCharacter %}<div id="modifyDescriptionFormToggle" onClick="modifyDescriptionToggle()" class="modifyDescriptionFormToggle"></div>{% endif %}
                    <div id="modifyDescriptionValidationButtons" class="modifyDescriptionValidationButtons modifyDescriptionValidationButtonsHide">
                        <div class="modifyDescriptionValidationButtonCancel" onClick="OnCLickCancel()">{{ 'annuler'|trans({}, 'app') }}</div>
                        {{ form_widget(modifyDescriptionFormView.submit,{'attr': {'class':'modifyDescriptionValidationButtonSubmit'}, 'label': 'dungeon_create_form_confirm'|trans({}, 'app')}) }}
                    </div>
                    {{ form_end(modifyDescriptionFormView) }}
                </div>
            </div>
        </div>
        <div class="profileCharacterCardSeparator"></div>
        <div class="profileCharacterCardLower">
            <div class="profileCharacterCardLowerTitle">{{ 'statistiques'|trans({}, 'app') }} :</div>

            <div class="profileCharacterCardStats">
                <div class="profileCharacterCardStats1stRow">
                    <div class="profileCharacterCardStat Stat-Vitality" title="{{ 'vitalite_description'|trans({}, 'app') }}">
                        <div class="profileCharacterCardStatInfo">
                            <img class="profileCharacterCardStatIcon" src="{{ asset('icons/stats/vitality.png') }}"> 
                            <span class="profileCharacterCardStatName">{{ 'vitalite'|trans({}, 'app') }}</span>
                        </div>
                        <div id='vitalityValue' class="profileCharacterCardStatValue">{{ character.Stats.vitality }}</div>
                        {% if isSelfCharacter %}<div class="spendPointButton" onClick="spendPoints('vitality')" title="{{ 'depenser_N_points_de_stat_pour_gagner_N_Stat'|trans({'%NumberPointsStat%': 1, '%StatName%': 'vitalite'|trans({}, 'app'), '%NumberStat%':3}, 'app') }}"></div>{% endif %}
                    </div>
                    <div class="profileCharacterCardStat Stat-Stamina" title="{{ 'endurance_description'|trans({}, 'app') }}">
                        <div class="profileCharacterCardStatInfo">
                            <img class="profileCharacterCardStatIcon" src="{{ asset('icons/stats/stamina.png') }}"> 
                            <span class="profileCharacterCardStatName">{{ 'endurance'|trans({}, 'app') }}</span>
                        </div>
                        <div id='staminaValue' class="profileCharacterCardStatValue">{{ character.Stats.stamina }}</div>
                        {% if isSelfCharacter %}<div class="spendPointButton" onClick="spendPoints('stamina')" title="{{ 'depenser_N_points_de_stat_pour_gagner_N_Stat'|trans({'%NumberPointsStat%': 1, '%StatName%': 'endurance'|trans({}, 'app'), '%NumberStat%':1}, 'app') }}"></div>{% endif %}
                    </div>
                    <div class="profileCharacterCardStat Stat-Bravery" title="{{ 'courage_description'|trans({}, 'app') }}">
                        <div class="profileCharacterCardStatInfo">
                            <img class="profileCharacterCardStatIcon" src="{{ asset('icons/stats/bravery.png') }}"> 
                            <span class="profileCharacterCardStatName">{{ 'courage'|trans({}, 'app') }}</span>
                        </div>
                        <div id='braveryValue' class="profileCharacterCardStatValue">{{ character.Stats.bravery }}</div>
                        {% if isSelfCharacter %}<div class="spendPointButton" onClick="spendPoints('bravery')" title="{{ 'depenser_N_points_de_stat_pour_gagner_N_Stat'|trans({'%NumberPointsStat%': 1, '%StatName%': 'courage'|trans({}, 'app'), '%NumberStat%':1}, 'app') }}"></div>{% endif %}
                    </div>
                    <div class="profileCharacterCardStat Stat-Agility" title="{{ 'agilite_description'|trans({}, 'app') }}">
                        <div class="profileCharacterCardStatInfo">
                            <img class="profileCharacterCardStatIcon" src="{{ asset('icons/stats/agility.svg') }}"> 
                            <span class="profileCharacterCardStatName">{{ 'agilite'|trans({}, 'app') }}</span>
                        </div>
                        <div id='agilityValue' class="profileCharacterCardStatValue">{{ character.Stats.agility }}</div>
                        {% if isSelfCharacter %}<div class="spendPointButton" onClick="spendPoints('agility')" title="{{ 'depenser_N_points_de_stat_pour_gagner_N_Stat'|trans({'%NumberPointsStat%': 1, '%StatName%': 'agilite'|trans({}, 'app'), '%NumberStat%':1}, 'app') }}"></div>{% endif %}
                    </div>
                    <div class="profileCharacterCardStat Stat-Impassiveness" title="{{ 'impassibilite_description'|trans({}, 'app') }}">
                        <div class="profileCharacterCardStatInfo">
                            <img class="profileCharacterCardStatIcon" src="{{ asset('icons/stats/impassiveness.png') }}"> 
                            <span class="profileCharacterCardStatName">{{ 'impassibilite'|trans({}, 'app') }}</span>
                        </div>
                        <div id='impassivenessValue' class="profileCharacterCardStatValue">{{ character.Stats.impassiveness }}</div>
                        {% if isSelfCharacter %}<div class="spendPointButton" onClick="spendPoints('impassiveness')" title="{{ 'depenser_N_points_de_stat_pour_gagner_N_Stat'|trans({'%NumberPointsStat%': 1, '%StatName%': 'impassibilite'|trans({}, 'app'), '%NumberStat%':1}, 'app') }}"></div>{% endif %}
                    </div>
                </div>
                <div class="profileCharacterCardStats2ndRow">
                    <div class="profileCharacterCardStat Stat-Strength" title="{{ 'force_description'|trans({}, 'app') }}">
                        <div class="profileCharacterCardStatInfo">
                            <img class="profileCharacterCardStatIcon" src="{{ asset('icons/stats/strength.png') }}"> 
                            <span class="profileCharacterCardStatName">{{ 'force'|trans({}, 'app') }}</span>
                        </div>
                        <div id='strengthValue' class="profileCharacterCardStatValue">{{ character.Stats.strength }}</div>
                        {% if isSelfCharacter %}<div class="spendPointButton" onClick="spendPoints('strength')" title="{{ 'depenser_N_points_de_stat_pour_gagner_N_Stat'|trans({'%NumberPointsStat%': 1, '%StatName%': 'force'|trans({}, 'app'), '%NumberStat%':1}, 'app') }}"></div>{% endif %}
                    </div>
                    <div class="profileCharacterCardStat Stat-Power" title="{{ 'pouvoir_description'|trans({}, 'app') }}">
                        <div class="profileCharacterCardStatInfo">
                            <img class="profileCharacterCardStatIcon" src="{{ asset('icons/stats/power.png') }}"> 
                            <span class="profileCharacterCardStatName">{{ 'pouvoir'|trans({}, 'app') }}</span>
                        </div>
                        <div id='powerValue' class="profileCharacterCardStatValue">{{ character.Stats.power }}</div>
                        {% if isSelfCharacter %}<div class="spendPointButton" onClick="spendPoints('power')" title="{{ 'depenser_N_points_de_stat_pour_gagner_N_Stat'|trans({'%NumberPointsStat%': 1, '%StatName%': 'power'|trans({}, 'app'), '%NumberStat%':1}, 'app') }}"></div>{% endif %}
                    </div>
                    <div class="profileCharacterCardStat Stat-Presence" title="{{ 'presence_description'|trans({}, 'app') }}">
                        <div class="profileCharacterCardStatInfo">
                            <img class="profileCharacterCardStatIcon" src="{{ asset('icons/stats/presence.png') }}"> 
                            <span class="profileCharacterCardStatName">{{ 'presence'|trans({}, 'app') }}</span>
                        </div>
                        <div id='presenceValue' class="profileCharacterCardStatValue">{{ character.Stats.presence }}</div>
                        {% if isSelfCharacter %}<div class="spendPointButton" onClick="spendPoints('presence')" title="{{ 'depenser_N_points_de_stat_pour_gagner_N_Stat'|trans({'%NumberPointsStat%': 1, '%StatName%': 'presence'|trans({}, 'app'), '%NumberStat%':1}, 'app') }}"></div>{% endif %}
                    </div>
                    <div class="profileCharacterCardStat Stat-Coordination" title="{{ 'coordination_description'|trans({}, 'app') }}">
                        <div class="profileCharacterCardStatInfo">
                            <img class="profileCharacterCardStatIcon" src="{{ asset('icons/stats/coordination.png') }}"> 
                            <span class="profileCharacterCardStatName">{{ 'coordination'|trans({}, 'app') }}</span>
                        </div>
                        <div id='coordinationValue' class="profileCharacterCardStatValue">{{ character.Stats.coordination }}</div>
                        {% if isSelfCharacter %}<div class="spendPointButton" onClick="spendPoints('coordination')" title="{{ 'depenser_N_points_de_stat_pour_gagner_N_Stat'|trans({'%NumberPointsStat%': 1, '%StatName%': 'coordination'|trans({}, 'app'), '%NumberStat%':1}, 'app') }}"></div>{% endif %}
                    </div>
                    <div class="profileCharacterCardStat Stat-Speed" title="{{ 'vitesse_description'|trans({}, 'app') }}">
                        <div class="profileCharacterCardStatInfo">
                            <img class="profileCharacterCardStatIcon" src="{{ asset('icons/stats/speed.png') }}"> 
                            <span class="profileCharacterCardStatName">{{ 'vitesse'|trans({}, 'app') }}</span>
                        </div>
                        <div id='speedValue' class="profileCharacterCardStatValue">{{ character.Stats.speed }}</div>
                        {% if isSelfCharacter %}<div class="spendPointButton" onClick="spendPoints('speed')" title="{{ 'depenser_N_points_de_stat_pour_gagner_N_Stat'|trans({'%NumberPointsStat%': 1, '%StatName%': 'vitesse'|trans({}, 'app'), '%NumberStat%':1}, 'app') }}"></div>{% endif %}
                    </div>
                </div>
                <div class="profileCharacterCardStats3rdRow">
                    <div class="profileCharacterCardStat Stat-ActionPoint" title="{{ 'points_action_description'|trans({}, 'app') }}">
                        <div class="profileCharacterCardStatInfo">
                            <img class="profileCharacterCardStatIcon" src="{{ asset('icons/stats/actionPoint.png') }}"> 
                            <span class="profileCharacterCardStatName">{{ 'points_action'|trans({}, 'app') }}</span>
                        </div>
                        <div class="profileCharacterCardStatValue">{{ character.Stats.actionPoint }}</div>
                    </div>
                    <div class="profileCharacterCardStat Stat-StatPoints" title="{{ 'points_de_stat_description'|trans({}, 'app') }}">
                        <div class="profileCharacterCardStatInfo">
                            <img class="profileCharacterCardStatIcon" src="{{ asset('icons/stats/statPoints.png') }}"> 
                            <span class="profileCharacterCardStatName">{{ 'points_de_stat'|trans({}, 'app') }}</span>
                        </div>
                        <div id='statPointValue' class="profileCharacterCardStatValue">{{ character.statPoints }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="profileCharacterCardSeparator"></div>
        <div class="profileCharacterCardBottom">
            <div class="profileCharacterCardBottomTitle">{{ 'rotations'|trans({}, 'app') }} :</div>

            <div id="mobileSwapShowButton" class="mobileSwapShow" onClick="mobileSwapRotationShow()">{{ 'voir_rotation'|trans({}, 'app') }}</div>

            <table class="profileCharacterCardBottomTable">
                <thead class="profileCharacterCardBottomTableThead">
                    <tr>
                        <th colspan="1">N°</th>
                        <th class="rotationTh openerItem" colspan="2">{% if isSelfCharacter %}<a class="modifyRotationLink" href="{{ path('app_character_modify_rotation',{'type':'Opener'}) }}"></a>{% endif %} {{ 'opener'|trans({}, 'app') }} <span class="rotationCostResume">({{ character.getOpenerRotation().getActionPointUsed() }} / {{ character.getStats().getActionPoint() }} <img class="profileCharacterCardStatIcon" src="{{ asset('icons/stats/actionPoint.png') }}">)</span></th>
                        <th class="rotationTh rotationItem" colspan="2">{% if isSelfCharacter %}<a class="modifyRotationLink" href="{{ path('app_character_modify_rotation',{'type':'Rotation'}) }}"></a>{% endif %} {{ 'rotation'|trans({}, 'app') }} <span class="rotationCostResume">({{ character.getRotation().getActionPointUsed() }} / {{ character.getStats().getActionPoint() }} <img class="profileCharacterCardStatIcon" src="{{ asset('icons/stats/actionPoint.png') }}">)</span></th>
                    </tr>
                </thead>
                <tbody>
                    {% set i = 1 %}
                    {% for attackNumber in ['One', 'Two', 'Three', 'Four', 'Five'] %}
                        <tr class="valueTr">
                            <td rowspan="2">{{ i }}</td>
                            <td class="openerItem">{{ character.getOpenerRotation().getAttack(attackNumber).getActionPointCost() }} <img class="profileCharacterCardStatIcon" src="{{ asset('icons/stats/actionPoint.png') }}"></td>
                            <td class="openerItem">{{ character.getOpenerRotation().getAttack(attackNumber).getName()|transAttack }} <img title="{{ character.getOpenerRotation().getAttack(attackNumber).getType().getName() }}" class="profileCharacterCardTypeIcon" src="{{ asset(character.getOpenerRotation().getAttack(attackNumber).getType() | typeIcon) }}"></td>
                            <td class="rotationItem">{{ character.getRotation().getAttack(attackNumber).getActionPointCost() }} <img class="profileCharacterCardStatIcon" src="{{ asset('icons/stats/actionPoint.png') }}"></td>
                            <td class="rotationItem">{{ character.getRotation().getAttack(attackNumber).getName()|transAttack }} <img title="{{ character.getOpenerRotation().getAttack(attackNumber).getType().getName() }}" class="profileCharacterCardTypeIcon" src="{{ asset(character.getRotation().getAttack(attackNumber).getType() | typeIcon) }}"></td>
                        </tr>
                        <tr class="descriptionTr">
                            <td colspan="2" class="openerItem">{{ character.getOpenerRotation().getAttack(attackNumber).getName()|transAttackDesc }}</td>
                            <td colspan="2" class="rotationItem">{{ character.getRotation().getAttack(attackNumber).getName()|transAttackDesc }}</td>
                        </tr>
                        {% set i = i + 1 %}
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>

    {% if isSelfCharacter %}
        <div class="profileFightListCard">
            <div class="profileFightListCardTitle">{{ 'combats_recents'|trans({}, 'app') }}</div>
                {% if character.getCombatLogs()|length > 0 %}
                    <div class="profileFightListContainer">
                        {% for combat in character.getLastTenCombatLogs()  %}
                            <a href="{{ path('app_combat', {'id': combat.id}) }}">
                                <div class="fightLine">
                                    <div class="fightLineWinStatus">
                                        {% if combat.isCharacterTeamWinner(character) %}
                                            <span class="fightLineWinStatusVictory">{{ 'victoire'|trans({}, 'app') }}</span>
                                        {% else %}
                                            <span class="fightLineWinStatusDefeat">{{ 'defaite'|trans({}, 'app') }}</span>
                                        {% endif %}
                                    </div>
                                    <div class="fightLineArea">{{ combat.location|trans({}, 'app') }}</div>
                                    <div class="fightLineSeparator"></div>
                                    <div class="fightLineDate">{{ combat.dateCreation | date('d/m/Y H:i')}}</div>
                                    <div class="fightLineMessage">{{ combat.message }}</div>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="noCombatLogMessage">{{ 'vous_avez_pas_encore_de_combat'|trans({}, 'app') }}</div>
                {% endif %}
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script>
        var spendPointButtons = document.getElementsByClassName('spendPointButton');
        spendPointButtons = Array.prototype.slice.call(spendPointButtons);

        var showButton = {% if character.statPoints == 0 %} false {% else %} true {% endif %};

        if(showButton === false){
            spendPointButtons.forEach((spendPointButton) => {
                spendPointButton.classList.add("spendPointButtonHide");
            });
        }

        function spendPoints(stat){
            fetch(`{{ path('app_character_spend_point') }}`, {
                method: 'POST',
                body: JSON.stringify({
                    "data": {
                        'statToIncrease' : stat
                    }
                }), // string or object
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                }
            }).then((result) => {
                result = result.json().then((result) => {
                    valueDiv = document.getElementById(stat+'Value')
                    statPointValueDiv = document.getElementById('statPointValue');
                    valueDiv.innerText = result.newStatValue;
                    statPointValueDiv.innerText = result.newStatPointsValue;

                    if(result.newStatPointsValue === 0){
                        spendPointButtons.forEach((spendPointButton) => {
                            spendPointButton.classList.add("spendPointButtonHide");
                        });
                    }
                });
            });
        }

        let mobileRotationShowStates = ['Opener','Rotation']
        let currentMobileRotationShow = 0;
        
        var mobileSwapShowButton = document.getElementById('mobileSwapShowButton');

        var rotationItems = document.getElementsByClassName('rotationItem');
        rotationItems = Array.prototype.slice.call(rotationItems);

        var openerItems = document.getElementsByClassName('openerItem');
        openerItems = Array.prototype.slice.call(openerItems);

        openerItems.forEach((item) => {
            item.classList.add('showItem');
        })

        function mobileSwapRotationShow(){
            mobileSwapShowButton.innerText = `{{ 'voir'|trans({}, 'app')}} ${mobileRotationShowStates[currentMobileRotationShow]}`;
            if(currentMobileRotationShow === 0){
                currentMobileRotationShow = 1;
            }
            else {
                currentMobileRotationShow = 0;
            }

            if(mobileRotationShowStates[currentMobileRotationShow] === 'Opener'){
                rotationItems.forEach((item) => {
                    item.classList.remove('showItem')
                });

                openerItems.forEach((item) => {
                    item.classList.add('showItem');
                })
            }
            else if(mobileRotationShowStates[currentMobileRotationShow] === 'Rotation') {
                openerItems.forEach((item) => {
                    item.classList.remove('showItem');
                })

                rotationItems.forEach((item) => {
                    item.classList.add('showItem')
                });
            }
        }

        function modifyDescriptionToggle(){
            var modifyDescriptionToggleButton = document.getElementById('modifyDescriptionFormToggle');
            var modifyDescriptionTextArea = document.querySelectorAll("[data-id='modifyDescriptionTextArea']")[0];
            var modifyDescriptionValidationButtons = document.getElementById('modifyDescriptionValidationButtons');
            modifyDescriptionToggleButton.classList.add('modifyDescriptionFormToggleHide');
            modifyDescriptionTextArea.disabled = false;
            modifyDescriptionValidationButtons.classList.remove('modifyDescriptionValidationButtonsHide');
        }

        function OnCLickCancel(){
            location.reload();
        }
    </script>
{% endblock %}