{% extends "base.html.twig" %}

{% block title %}PMD : Valtoria | {{ 'rapport_de_bataille'|trans({}, 'app') }} {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/fight/app_combat.css') }}">
    <link rel="stylesheet" href="{{ asset('css/_shared/_character-card.css') }}">
{% endblock %}

{% block body %}
    {% if combatLog.dungeonInstance is not null %}
        <a class="combatLog-returnToDungeonLink" href="{{ path('app_dungeon')}}">
            <div class="combatLog-returnToDungeonButton">{{ 'retour_au_donjon'|trans({}, 'app') }}</div>
        </a>
    {% elseif combatLog.raidInstance is not null %}
        <a class="combatLog-returnToDungeonLink" href="{{ path('app_raid')}}">
            <div class="combatLog-returnToDungeonButton">{{ 'retour_au_raid'|trans({}, 'app') }}</div>
        </a>
    {% endif %}
    
    <h1 class="combatLog-title">{{ 'rapport_de_bataille'|trans({}, 'app') }}</h1>
    <h2 class="combatLog-date">{{ combatLog.dateCreation | date('d/m/Y H:i', "Europe/Paris")}}</h2>

    <div class="combatLog-team-display">
        <div class="combatLog-team">
            <div class="combatLog-team-name">{{ 'equipe'|trans({}, 'app') }} 1</div>
            {% for character in combatLog.teamOne %}
                {% include '_shared/_character-card.html.twig' %}
            {% endfor %}
        </div>
        <div class="combatLog-vertical-separator"></div>
        <div class="combatLog-vs"><img class="combatLog-vs-image" src="{{ asset('icons/versus.png')}}"></div>
        <div class="combatLog-team">
            <div class="combatLog-team-name">{{ 'equipe'|trans({}, 'app') }} 2</div>
            {% for character in combatLog.teamTwo %}
                {% include '_shared/_character-card.html.twig' %}
            {% endfor %}
        </div>
    </div>

    <table class='combatLogTable'>
        <thead>
            <tr>
                <th colspan="2">{{ 'rapport'|trans({}, 'app') }}</th>
            </tr>
        </thead>
        <tbody>
            {% for roundLog in displayableLogs %}
                <tr>
                    <td class='combatLogTableTdRound' colspan="2">{{ 'round'|trans({}, 'app') }} {{ roundLog[0].roundNumber }}</td>
                </tr>
                {% for LogLine in roundLog %}
                    <tr>
                        {% if LogLine.type is same as('type_winner') %}
                            <td class='combatLogTableTdIcon'><div class='winner'></div></td>
                            <td class='combatLogTableTdText'>{{ 'fin_du_combat'|trans({}, 'app') }} {% if LogLine.data.winner == 0 %}{{ 'egalite'|trans({}, 'app') }}{% else %}{{ 'victoire_de_equipe'|trans({'%teamNumber%': LogLine.data.winner}, 'app') }}{% endif %}</td>
                        {% endif %}

                        {% if LogLine.type is same as('type_attack') %}
                            <td class='combatLogTableTdIcon'><div class='sword-crossed'></div></td>
                            <td class='combatLogTableTdText'>{{ 'log_type_attack'|trans({'%fighterName%': LogLine.data.fighterName, '%attackName%': LogLine.data.attackName|transAttack }, 'app') }} {% if LogLine.data.isCrit %} {{ 'critique'|trans({}, 'app') }}{% endif %}</td>
                        {% endif %}

                        {% if LogLine.type is same as('type_dodge') %}
                            <td class='combatLogTableTdIcon'><div class='dodge'></div></td>
                            <td class='combatLogTableTdText'>{{ 'log_type_dodge'|trans({'%fighterName%': LogLine.data.fighterName}, 'app') }}</td>
                        {% endif %}

                        {% if LogLine.type is same as('type_damage_taken_by_attack') %}
                            <td class='combatLogTableTdIcon'><div class='damageTakenByAttack'></div></td>
                            <td class='combatLogTableTdText'>{{ 'log_type_damage_taken_by_attack'|trans({'%fighterName%': LogLine.data.fighterName, '%damageTakenAmount%': LogLine.data.physicalDamage + LogLine.data.specialDamage}, 'app') }} (<span class="physicalDamage">{{LogLine.data.physicalDamage}}</span>|<span class="specialDamage">{{LogLine.data.specialDamage}}</span>) {{ 'points_de_degats'|trans({}, 'app') }}</td>
                        {% endif %}

                        {% if LogLine.type is same as('type_damage_taken_by_status') %}
                            <td class='combatLogTableTdIcon'><div class='damagingReceived'></div></td>
                            <td class='combatLogTableTdText'>{{ 'log_type_damage_taken_by_status'|trans({'%fighterName%': LogLine.data.fighterName, '%damageTakenAmount%': LogLine.data.damageTaken, '%statusType%': LogLine.data.statusType| damaging}, 'app') }}</td>
                        {% endif %}

                        {% if LogLine.type is same as('type_healing_taken_by_attack') %}
                            <td class='combatLogTableTdIcon'><div class='healingTakenByAttack'></div></td>
                            <td class='combatLogTableTdText'>{{ 'log_type_healing_taken_by_attack'|trans({'%fighterName%': LogLine.data.fighterName, '%healAmount%': LogLine.data.healAmount}, 'app') }}</td>
                        {% endif %}

                        {% if LogLine.type is same as('type_ko') %}
                            <td class='combatLogTableTdIcon'><div class='ko'></div></td>
                            <td class='combatLogTableTdText'>{{ 'log_type_ko'|trans({'%fighterName%': LogLine.data.fighterName}, 'app') }}</td>
                        {% endif %}

                        {% if LogLine.type is same as('type_remaining_vitality') %}
                            <td class='combatLogTableTdIcon'><div class='remainingHealth'></div></td>
                            <td class='combatLogTableTdText'>{{ 'log_type_remaining_vitality'|trans({'%fighterName%': LogLine.data.fighterName, '%remainingVitality%': LogLine.data.remainingVitality, '%maxVitality%': LogLine.data.vitality}, 'app') }}</td>
                        {% endif %}

                        {% if LogLine.type is same as('type_statistic_modifier_received') %}
                            {% if LogLine.data.modifierType  == 'buff' %}
                                <td class='combatLogTableTdIcon'><div class='buff'></div></td>
                                <td class='combatLogTableTdText'>{{ 'log_type_statistic_modifier_received_buff'|trans({'%fighterName%': LogLine.data.fighterName, '%statistic%': LogLine.data.statistic | statistic, '%modifier%': LogLine.data.modifier}, 'app') }}</td>
                            {% elseif LogLine.data.modifierType  == 'nerf' %}
                                <td class='combatLogTableTdIcon'><div class='nerf'></div></td>
                                <td class='combatLogTableTdText'>{{ 'log_type_statistic_modifier_received_nerf'|trans({'%fighterName%': LogLine.data.fighterName, '%statistic%': LogLine.data.statistic | statistic, '%modifier%': LogLine.data.modifier}, 'app') }}</td>
                            {% endif %}
                        {% endif %}

                        {% if LogLine.type is same as('type_statistic_modifier_loss') %}
                            {% if LogLine.data.modifierType  == 'buff' %}
                                <td class='combatLogTableTdIcon'><div class='modifierStatusLoss'></div></td>
                                <td class='combatLogTableTdText'>{{ 'log_type_statistic_modifier_loss_buff'|trans({'%fighterName%': LogLine.data.fighterName, '%statistic%': LogLine.data.statistic | statistic, '%modifier%': LogLine.data.modifier}, 'app') }}</td>
                            {% elseif LogLine.data.modifierType  == 'nerf' %}
                                <td class='combatLogTableTdIcon'><div class='modifierStatusLoss'></div></td>
                                <td class='combatLogTableTdText'>{{ 'log_type_statistic_modifier_loss_nerf'|trans({'%fighterName%': LogLine.data.fighterName, '%statistic%': LogLine.data.statistic | statistic, '%modifier%': LogLine.data.modifier}, 'app') }}</td>
                            {% endif %}
                        {% endif %}

                        {% if LogLine.type is same as('type_damaging_status_received') %}
                            <td class='combatLogTableTdIcon'><div class='damagingReceived'></div></td>
                            <td class='combatLogTableTdText'>{{ 'log_type_damaging_status_received'|trans({'%fighterName%': LogLine.data.fighterName, '%statusType%': LogLine.data.damagingType | damaging}, 'app') }}</td>
                        {% endif %}

                        {% if LogLine.type is same as('type_damaging_status_loss') %}
                            <td class='combatLogTableTdIcon'><div class='statusLoss'></div></td>
                            <td class='combatLogTableTdText'>{{ 'log_type_damaging_status_loss'|trans({'%fighterName%': LogLine.data.fighterName, '%statusType%': LogLine.data.damagingType | damaging}, 'app') }}</td>
                        {% endif %}

                        {% if LogLine.type is same as('type_control_status_received') %}
                            <td class='combatLogTableTdIcon'><div class='statusReceived'></div></td>
                            <td class='combatLogTableTdText'>{{ 'log_type_control_status_received'|trans({'%fighterName%': LogLine.data.fighterName, '%statusType%': LogLine.data.damagingType | damaging}, 'app') }}</td>
                        {% endif %}

                        {% if LogLine.type is same as('type_control_status_loss') %}
                            <td class='combatLogTableTdIcon'><div class='statusLoss'></div></td>
                            <td class='combatLogTableTdText'>{{ 'log_type_control_status_loss'|trans({'%fighterName%': LogLine.data.fighterName, '%statusType%': LogLine.data.damagingType | damaging}, 'app') }}</td>
                        {% endif %}

                        {% if LogLine.type is same as('type_control_status_activate') %}
                            <td class='combatLogTableTdIcon'><div class='statusReceived'></div></td>
                            <td class='combatLogTableTdText'>{{LogLine.data.controlType | controlActivate(LogLine.data.fighterName) }}</td>
                        {% endif %}

                        {% if LogLine.type is same as('type_control_status_no_effect') %}
                            <td class='combatLogTableTdIcon'><div class='attackNoEffect'></div></td>
                            <td class='combatLogTableTdText'>{{ 'log_type_control_status_no_effect'|trans({'%fighterName%': LogLine.data.fighterName, '%statusType%': LogLine.data.controlType | control}, 'app') }}</td>
                        {% endif %}

                        {% if LogLine.type is same as('type_attack_no_effect') %}
                            <td class='combatLogTableTdIcon'><div class='attackNoEffect'></div></td>
                            <td class='combatLogTableTdText'>{{ 'log_type_attack_no_effect'|trans({}, 'app') }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>

    <div class='no-footer'></div>
{% endblock %}

