<div class="dungeonTitleName">{{ dungeonInstance.dungeon.name|trans({}, 'app') }}</div>
<div class="dungeonStatus">Statut : {{ dungeonInstance.status|DungeonInstanceStatus|trans({}, 'app') }}</div>

{% if dungeonInstance.status == 'dungeon_status_preparation' %}
    <div class="dungeonPreparationFlavourText">{{ 'votre_equipe_se_prepare_entrer_dans_donjon'|trans({}, 'app') }}</div>

    <div class="dungeonPreparationExplorersContainer">
        <div class="dungeonPreparationExplorersContainerTitle">{{ 'composition_de_equipe'|trans({}, 'app') }}</div>
        <div class="dungeonPreparationExplorersContainerNumber">{{dungeonInstance.explorers|length}}/4</div>
        <div class="dungeonPreparationExplorersContainerList">
            {% for character in dungeonInstance.explorers %}
                {% include '_shared/_character-card.html.twig' %}
            {% endfor %}
        </div>
    </div>

    <div class="dungeonPreparationButtons">
        {% if app.user.character == dungeonInstance.leader  %}
            <button onclick="sendEnterDungeonCall()" class="dungeonButton buttonEnterDungeon">{{ 'commencer'|trans({}, 'app') }}</button>
        {% endif %}
        
        <button onclick="sendLeaveApiCall()" class="dungeonButton ButtonLeave"><img src="{{ asset('icons/exit.png') }}" width='25px'></button>
        <div class="dungeonErrorMessages"></div>
    </div>

    {% if app.user.character == dungeonInstance.leader %}
        <div class="inviteCodePannel">
            <div class="inviteCodePannelTitle">{{ 'code_invitation'|trans({}, 'app') }}</div>
            <div class="inviteCodePannelContent">{{ dungeonInstance.inviteCode }}</div>
        </div>
    {% endif %}
{% else %}
    {% if dungeonInstance.status == 'dungeon_status_exploration' %}
        <div class="dungeonExplorationFlavourText">{{ 'exploration_du_donjon'|trans({}, 'app') }}</div>
    {% else %}
        <div class="dungeonExplorationFlavourText">{{ 'exploration_terminee'|trans({}, 'app') }}</div>
    {% endif %}
    <div class="dungeonExplorationFirstRowContainer">
        <div class="dungeonExplorationTips">
            <div class="dungeonTipsRow">
                <div class="tile-tip tile-unknown"></div>
                <div class="tile-tip-text">{{ 'piece_inconnue_du_donjon_que_contient_elle'|trans({}, 'app') }}</div>
            </div>
            <div class="dungeonTipsRow">
                <div class="tile-tip tile-empty"></div>
                <div class="tile-tip-text">{{ 'ceci_est_un_mur_vous_ne_pouvez_pas_vous_y_rendre'|trans({}, 'app') }}</div>
            </div>
            <div class="dungeonTipsRow">
                <div class="tile-tip tile-full"></div>
                <div class="tile-tip-text">{{ 'piece_vide_du_donjon_passez_votre_chemin'|trans({}, 'app') }}</div>
            </div>
            <div class="dungeonTipsRow">
                <div class="tile-tip tile-entrance"></div>
                <div class="tile-tip-text">{{ 'entree_du_donjon'|trans({}, 'app') }}</div>
            </div>
            <div class="dungeonTipsRow">
                <div class="tile-tip tile-exit"></div>
                <div class="tile-tip-text">{{ 'sortie_du_donjon'|trans({}, 'app') }}</div>
            </div>
            <div class="dungeonTipsRow" style="margin-bottom : 10px">
                <div class="tile-tip tile-monsters-1" style="margin-right: 2px"></div>
                <div class="tile-tip tile-monsters-2" style="margin-right: 2px"></div>
                <div class="tile-tip tile-monsters-3"></div>
                <div class="tile-tip-text">{{ 'pokemons_sauvages_en_vue'|trans({}, 'app') }}</div>
            </div>
            <div class="dungeonTipsSeparator"></div>
            <div class="dungeonTipsNotes">
                <div class="dungeonTipsNotesTitle">{{ 'notes'|trans({}, 'app') }}</div>
                <ul>
                    <li>{{ 'dungeon_notes_1'|trans({}, 'app') }}</li>
                    <li>{{ 'dungeon_notes_2'|trans({}, 'app') }}</li>
                </ul>
            </div>
        </div>

        <div class="dungeon">
            {% for y in data.maxY .. data.minY %}
                <div class="dungeon-row">
                    {% for x in data.minX .. data.maxX %}
                        {% set tilePos = y ~ ',' ~ x %}
                            <div title='{{ tilePos }}' class="{{ dungeon[tilePos] |dungeonTile(currentExplorersPosition, tilePos) }}"></div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>

        <div class="dungeonExplorationExplorers">
            <div class="dungeonExplorationExplorersContainer">
                <div class="dungeonExplorationExplorersContainerTitle">{{ 'composition_de_equipe'|trans({}, 'app') }}</div>
                <div class="dungeonExplorationExplorersContainerNumber">{{dungeonInstance.explorers|length}}/4</div>
                <div class="dungeonExplorationExplorersContainerList">
                    {% for character in dungeonInstance.explorers %}
                        {% include '_shared/_character-card.html.twig' %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="dungeonExplorationSecondRowContainer">
        <div class="dungeonFightsLogs">
            <div class="dungeonFightsLogsTitle">{{ 'liste_des_combats'|trans({}, 'app') }}</div>
            <div class="dungeonFightsLogsSeparator"></div>
            <div class="dungeonFightsLogsList">
                <ul>
                    {% for fightLog in dungeonInstance.Fights|reverse %}
                        {% if fightLog.winner == 1 %}
                            <li class="dungeonFightsLogsListLiVictory">
                        {% else %}
                            <li class="dungeonFightsLogsListLiDefeat">
                        {% endif %}
                                <a href="{{ path('app_combat', {'id' : fightLog.id }) }}" style='display:flex; align-items:center;'>
                                    {% if fightLog.winner == 1 %}
                                        <span style='margin-right:5px; color: rgb(2, 188, 2);'>[{{ 'VICTOIRE'|trans({}, 'app') }}]</span> <span class='dungeon-logs-line-text'>{{ fightLog.teamTwo|length }} {{ 'pokemons_sauvages_vaincus'|trans({}, 'app') }}</span> ({{fightLog.message}})
                                    {% else %}
                                        <span style='margin-right:5px; color:red;'>[{{ 'DEFAITE'|trans({}, 'app') }}]</span> <span class='dungeon-logs-line-text'> {{ 'votre_equipe_a_ete_vaincu'|trans({}, 'app') }}</span> ({{fightLog.message}})
                                    {% endif %}
                                    <img src="{{ asset('icons/oeil.png') }}" width=25 height=25 alt="">
                                </a>
                            </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="dungeonButtons">
            {% if dungeonInstance.status == 'dungeon_status_exploration' and app.user.character == dungeonInstance.leader %}
                <div class="dungeonDirectionButtons">
                    <button onclick="sendMovementApiCall('left')" class="dungeonButton"><img src="{{ asset('icons/arrow_left.png') }}" width='25px'></button>
                    <button onclick="sendMovementApiCall('up')" class="dungeonButton"><img src="{{ asset('icons/arrow_up.png') }}" width='20px'></button>
                    <button onclick="sendMovementApiCall('down')" class="dungeonButton"><img src="{{ asset('icons/arrow_down.png') }}" width='20px'></button>
                    <button onclick="sendMovementApiCall('right')" class="dungeonButton"><img src="{{ asset('icons/arrow_right.png') }}" width='25px'></button>
                </div>
                <div class="dungeonInteractionButtons">
                    <button onclick="sendFightApiCall()" class="dungeonButton ButtonFight"><img src="{{ asset('icons/dual-swords.svg') }}" width='28px'></button>
                    <button onclick="sendInteractApiCall()" class="dungeonButton ButtonInteract"><img src="{{ asset('icons/hand.png') }}" width='28px'></button>
                </div>
                <div class="dungeonEndingButton">
                    <button onclick="sendLeaveApiCall()" class="dungeonButton ButtonLeave"><img src="{{ asset('icons/exit.png') }}" width='25px'></button>
                </div>
            {% else %}
                <div class="dungeonEndingButton">
                    <button onclick="sendLeaveApiCall()" class="dungeonButton ButtonLeave"><img src="{{ asset('icons/exit.png') }}" width='25px'></button>
                </div>
            {% endif %}
        </div>
    </div>
{% endif %}
