{% extends "base.html.twig" %}

{% block title %}PMD : Valtoria | Donjon {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/dungeon/app_dungeon_create.css') }}">
{% endblock %}

{% block body %}
    <div class="dungeonCreateTitle">{{ 'quel_donjon_voulez_vous_explorer'|trans({}, 'app') }}</div>
    {{ form_start(dungeonInstanceCreateFormView, {'attr': {'class': 'dungeonCreate_form'}}) }}
        {{ form_widget(dungeonInstanceCreateFormView.Dungeon, {'attr': {'class': 'dungeonCreate_formWidget'}}) }}
        {{ form_widget(dungeonInstanceCreateFormView.submit, {'attr': {'class': 'dungeonCreate_Submit'}}) }}
    {{ form_end(dungeonInstanceCreateFormView) }}
{% endblock %}